<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<!--插件分页  -->
  	<plugins>
  		<plugin interceptor="com.github.pagehelper.PageHelper">
  			<property name="dialect" value="mysql"/>
  			<!-- 将前台页面传入的页码修正到1~总页数之间的范围 -->
  			<property name="reasonable" value="true"/>
  		</plugin>
  	</plugins>
  </configuration>